/* StudentAdmissionForm.css */
#student-form-container {
    width: 400px;
    margin: 20px auto 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color:  #cae3d0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .ad{
    background:linear-gradient(#f77f7f, #7cb7c1);
    padding: 10px;

  }
  
  input{
    width: 375px;
    padding: 10px;
  }

  button{
    padding: 10px;
    color: #000000;
    background-color: #ccc;
    margin-top: 10px;
    margin-left: 150px;
    align-items: start;
    justify-content: center;
  }